* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #17a2b8;
}

.text,
.key-code,
.key-name,
.mouseName {
  font-size: 45px;
  color: #17a2b8;
  font-weight: 500;
  text-align: center;
}

.text {
  font-size: 30px;
  text-align: center;
}

.mouse-content {
  display: none;
}

.box2 {
  width: 290px;
  padding: 25px;
  border-radius: 15px;
  background: #fff;
  margin-top: 5px;
}

.box {
  width: 290px;
  padding: 25px;
  border-radius: 15px;
  background: #fff;
  margin-bottom: 5px;
}

.content,
.key-code,
.details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box .content {
  display: none;
  flex-direction: column;
}

.box.active .content {
  display: flex;
}

.key-code {
  height: 110px;
  width: 110px;
  font-size: 30px;
  border-radius: 50%;
  color: #17a2b8;
  margin-bottom: 15px;
  border: 5px solid #17a2b8;
}

/* uzim */

.details {
  width: 100%;
  justify-content: space-evenly;
}

.details p {
  width: 100%;
  text-align: center;
}
.details p:last-child {
  border-left: 1px solid #bfbfbf;
}
